<div class="search-div">
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput fxLayout fxLayoutAlign="end" [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData">
    <ng-container matColumnDef="patientName">
      <mat-header-cell *matHeaderCellDef>Patient</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ usersname }} {{ userssurname }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="diagnostic">
      <mat-header-cell *matHeaderCellDef>Diagnostic</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.diagnostic}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">No Data</mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
  </mat-table>
</div>
