<div class="search-div">
  <button mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon>Authorize Nurse
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput fxLayout fxLayoutAlign="end" [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData">
    <ng-container matColumnDef="nurseName">
      <mat-header-cell *matHeaderCellDef>Nurse Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.nurseName }}</mat-cell>
    </ng-container>
      <ng-container matColumnDef="patientName">
          <mat-header-cell *matHeaderCellDef>Patient</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.patientName }} {{ element.patientSurname}}</mat-cell>
      </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-raised-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
        <button mat-raised-button color="warn" (click)="onDelete(row.$key)"><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">No Data</mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
  </mat-table>
</div>
